:root{
    --white: #ffffff;
    --light_blue: #c0d7e8;
    --blue: #00406f;
    --dark_blue: #002038;
}

body{
    background-image: url('../public/bg.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    transition: all 0.25s;
}

.screen{
    height: fit-content;
    transition: all 0.25s;
    opacity: 0;
    display: none;
}

.centerer{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.logo{
    margin: 100px 0 0 0;
    height: 150px;
}

h1{
    color: var(--white);
    font-size: 45px;
    margin: 50px 0 0 0;
    text-align: center;
}

.form_container{
    width: 70%;
    height: fit-content;
    margin: 50px 15% 0 15%;
    background-color: var(--white);
    padding: 0;
}

.form_content_container{
    width: 80%;
    height: fit-content;
    margin: 0 10% 0 10%;
    padding: 50px 0 50px 0;
}

.form_content_container h2{
    font-size: 45px;
    margin: 0;
    text-align: center;
}

.form_content_container P{
    font-size: 20px;
    margin: 25px 0 25px 0;
    text-align: center;
}

.footer{
    width: 100%;
    height: fit-content;
    padding: 50px 0 50px 0;
    background-color: var(--dark_blue);
    display: flex;
    align-items: center;
    margin: 100px 0 0 0;
}

.footer_logo{
    margin: 0 80px 0 80px;
    height: 180px;
}

.footer_text{
    color: var(--white);
}

.footer_text h4{
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

.footer_text p{
    font-size: 20px;
    margin: 12px 0 0 0;
    line-height: 140%;
    font-weight: 200;
}

.simple_input{
    width: 100%;
    height: fit-content;
    margin: 25px 0 0 0;
}

.simple_input h4{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.simple_input input{
    margin: 0;
    border: none;
    background-color: var(--light_blue);
    width: 100%;
    height: 25px;
}

.many_inputs_container{
    display: flex;
    justify-content: space-between;
}

.double_input{
    width: 48%;
}

.triple_input{
    width: 31%;
}

.continue_button{
    margin: 50px 0 0 0;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    padding: 5px 25px 5px 25px;
    font-size: 25px;
    font-weight: 400;
    border: none;
    transition: all 0.3s;
}

.continue_button:hover{
    box-shadow: 0 5px 5px #bbbbbb;
    translate: 0 -5px;
}

.required_fields_message{
    color: #cc0000;
    background-color: #ffdddd;
    padding: 15px 0 15px 0;
}